.App {
  /* text-align: center; */
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .btn {
  background: #B06047;
  width: 150px;
  margin-bottom: 20px;
  text-align: center;
}

#questionType {
  background: #B06047;
  width: 200px;
}

.question-container {
  width: 400px;
}

.input-group {
  margin-bottom: 10px;
}

.option-text {
  font-size: 60%;
}

.option-text-optional {
  font-size: 80%;
}

.App .finish-buttons {
  margin-top: 20px;
  text-align: right;
}

.App .left {
  margin-left: 5px;
}

.confirm-survey {
  width: 400px;
  margin-top: 40px;
}

.confirm-container {
  display: flex;
  flex-direction: column;
}

.confirm-single {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 80%;
}

.confirm-single input {
  margin-right: 5px;
  margin-left: 5px;
}

.confirm-single-left {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-right: 50px;
}

.confirm-single-right {
  display: flex;
  align-items: center;
  justify-content: right;
}

.confirm-text {
  font-size: 70%;
}

.confirm-multi {
  font-size: 80%;
}

.confirm-multi input {
  margin-right: 10px;
}

.confirm-button {
  float: right;
  width: 100px !important;
  height: 40px !important;
}