.App {
  /* text-align: center; */
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .btn {
  background: #B06047;
  width: 150px;
  margin-bottom: 20px;
  text-align: center;
}

#questionType {
  background: #B06047;
  width: 200px;
}

.question-container {
  width: 400px;
}

.input-group {
  margin-bottom: 10px;
}

.option-text {
  font-size: 60%;
}

.option-text-optional {
  font-size: 80%;
}

.App .finish-buttons {
  margin-top: 20px;
  text-align: right;
}

.App .left {
  margin-left: 5px;
}